@use "variables" as *;

.desktop {
  @media (max-width: $width-tablet) {
    display: none !important;
  }
}

.tablet {
  display: none !important;
  @media (min-width: $width-tablet) and (max-width: $width-desktop) {
    display: inherit !important;
  }
}

.mobile {
  display: none !important;
  @media (max-width: $width-tablet) {
    display: inherit !important;
  }
}
